@model IEnumerable<RoleViewModel>

@{
    ViewData["Title"] = "Roles";
    Layout = "_Layout";
}

<br />
<br />
<div class="container">
    <div class="border p-4 bg-white">
        <div class="row">
            <div class="col-10">
                <h2 class="text-danger">Roles List</h2>
            </div>
            <div class="col-2 text-right">
                <a asp-controller="Role" asp-action="New" class="btn btn-outline-danger form-control">Create New Role</a>
            </div>
        </div>
        <br />
        <div>
            @if (Model.Any())
            {
                <table class="table table">
                    <tr class="table">
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.RoleId
                            </td>
                            <td>
                                @item.RoleName
                            </td>
                            <td>
                                <a class="btn btn-danger text-white" asp-controller="Role" asp-action="Edit" asp-route-Id="@item.RoleId">
                                    Edit
                                </a>

                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-delete-publisher-@item.RoleId">
                                    Delete
                                </button>

                                <div class="modal fade" id="exampleModal-delete-publisher-@item.RoleId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-danger" id="exampleModalLabel">Confirm Delete</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-danger">
                                                Are you sure you want to Remove this Role: @item.RoleName?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                <a class="btn btn-outline-danger text-right" asp-controller="Role" asp-action="Delete"
                                                   asp-route-Id="@item.RoleId">
                                                    Delete
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No role exists...</p>
            }
        </div>
    </div>
</div>
<br />
<br />